* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: peru;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
